
<div class="row transparent" style="padding-top: 20px; ">
	<div class='col-lg-3 col-md-2'></div>
	<div class="col-lg-6 col-md-8 col-sm-12">
		<img class="img-responsive "  style="margin:auto;"src="<%= asset_path ('bannerCenter.gif') %>">
	</div>
  
</div>

<div class="row transparent" style="padding-top: 20px; padding-right: 20px">
	<h1 class="blackBack"> <a href='/about' class="headerLinks">ABOUT US</a></h1>
	
	<div class="col-lg-6 col-md-12">
		<section>
			<h4 style="color: white">
			"Tell me and I forget, teach me and I may remember, involve me and I learn."<br />
			&#8195;-Benjamin Franklin
			</h4>	
		</section>
		
			<p style="color: white">
			Tesseract is a game development studio housed at the University of Arkansas and headed 
			by Professor David Fredrick of the Humanities department. At our core, Tesseract brings together undergraduate and graduate students from a variety of 
			disciplines to give them valuable experience in the game development process. The idea of students 
			developing coursework for other students is a unique one and gives us an incredible source of 
			feedback on our projects. 
			</p>
			<h4 > <a href='/about' class="headerLinks">Meet the Team  <i class="fa fa-arrow-circle-right"></i></a></h4>

	</div>
	<div class="col-lg-6 col-md-12 col-xs-12">
	
		
		<div class="embed-responsive embed-responsive-16by9" >
		  <iframe  class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/9RljR7XjicI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
		</div>
		
	</div>
	
</div>


<div class="row transparent " style="overflow: hidden; margin: 20px; background-color: RGBA(150,150,150,0.1)" >
	<h1 class="blackBack"><a href='/projects' class="headerLinks">FEATURED PROJECTS</a></h1>	
				
  <div class="owl-carousel" id="showCase" style="padding-right: 20px;">

    <% @show.each do |item| %>
        <a class="projectLinks" href="<% if item.is_a?(Project)%><%= project_path(item)%><% else %><%= course_path(item)%><% end %>">
        <div class="item" style="overflow: hidden;" >
		
			<img class="owl-lazy " data-src="<%= item.mainImg.url(:thumb) %>"  alt="">
			
			
			<h4 style="margin: .1rem 0 .1rem"><%= item.title %></h4>
				<p style="margin: .1rem 0 .5rem;  line-height: 1;"><% if item.is_a?(Project)%><%= item.category %><% else %><%= item.college%><% end %></p>
        </div>
        </a>


    <% end %>
  </div>
	<h4 > <a href='/projects' class="headerLinks">View All   <i class="fa fa-arrow-circle-right"></i></a></h4>

</div>

		
<div class="row transparent"  >
<div class="col-md-12 col-lg-5" style="padding-left: 0; ">
	<div class="row transparent" style="padding-right: 20px; margin-bottom: 20px; background-color: RGBA(150,150,150,0.1); ">
  
	  <h3 class="blackBack" style="padding-left: 0"><a href='/news' class="headerLinks">LATEST NEWS</a></h3>
    <% @news.each_with_index do |blog, i| %>
	  <a class="projectLinks" href="<%= blog_path(blog) %>">
            <div class="col-md-12" style="height: auto; padding: 10px 10px 10px 10px;  ">
              <div><%= image_tag(blog.mainImg.url(:medium),  style: "width: 100%;" ) %></div>
            	<h4 style="margin: .1rem 0 .1rem"><%= blog.title %></h4>
                <p style="margin: .1rem 0 .5rem;  line-height: 1;"><%= blog.date.strftime("%B") %> <%= blog.date.strftime("#{blog.date.day.ordinalize}") %> <%= blog.date.strftime("%Y") %></p>
				
				<p style="margin: .1rem 0 .5rem;  line-height: 1;"><%=blog.tagLine %></p>

            </div>

        <hr style="margin-top: 5px; margin-bottom: 5px;  border: 0">
	</a>


    <% end %>
	<h4 > <a href='/news' class="headerLinks">View All   <i class="fa fa-arrow-circle-right"></i></a></h4>
  </div>
		
  </div>
  <div class="col-md-12 col-lg-7" >
  <div class="row greyTransparent" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px;">
  	
		<h3 class="blackBack" style="padding-left: 0"><a href='/blog' class="headerLinks">CENTER BLOG</a></h3>
		<% @blogs.each_with_index do |blog, i| %>
			<% if i == 0 || i == 2 %>
				 <div class="row transparent" style="padding: 0;">
			 <% end %>
       
		  <div class="col-md-6" style="height: auto; padding: 10px 10px 10px 10px;  ">
			<a class="projectLinks" href="<%= blog_path(blog) %>">
              <div><%= image_tag(blog.mainImg.url(:thumb), style: "width: 100%;" ) %></div>
            	<h4 style="margin: .1rem 0 .1rem"><%= blog.title %></h4>
                <p style="margin: .1rem 0 .5rem;  line-height: 1;"><%= blog.date.strftime("%B") %> <%= blog.date.strftime("#{blog.date.day.ordinalize}") %> <%= blog.date.strftime("%Y") %></p>
	
		</a>
	</div>
	<% if i == 1 || i == 3 %>
        	<hr style="margin-top: 5px; margin-bottom: 5px;  border: 0">
			</div>
		<% end %>
    <% end %>
	 <h4 > <a href='/blog' class="headerLinks">View All   <i class="fa fa-arrow-circle-right"></i></a></h4>
	  </div>
	 
  </div>
				
  </div>
  		
		
		


<script>
    $(".lazyImg").lazyload({
        effect : "fadeIn"
    });
</script>


<script>
    $(document).ready(function(){

        $('#showCase').owlCarousel({
            mouseDrag: false,
            touchDrag:false,
					
            nav: true,
            navSpeed: 1000,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1
                },
                1000:{
                    items:2
                },
                1300:{
                    items:4
                }
            },
            lazyLoad:true,
            loop:true,
            margin:20
        });
    });


	$("img").load(function(){
	  $(".CenterIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", (((parW - childW) / 2) / parW) * 100 + "%" );
		});
	});
	
	$( window ).resize(function() {
		$(".CenterIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", (((parW - childW) / 2) / parW) * 100 + "%" );
		});
	});
	
	$("img").load(function(){
	  $(".LeftIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", "0px");
		});
	});
	
	$( window ).resize(function() {
		$(".LeftIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", "0px" );
		});
	});
	
	$("img").load(function(){
	  $(".RightIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left",  ((parW - childW) / parW) * 100 + "%");
		});
	});
	
	$( window ).resize(function() {
		$(".RightIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left",  ((parW - childW) / parW) * 100 + "%" );
		});
	});
	
	
	
</script>
				  

