<div class="row transparent full" style="overflow: hidden; padding-left: 20px; padding-right: 20px">
   <% @projects.each do |projectSet| %>
      <% if !projectSet.empty? %>

        <div class="row transparent" style="padding-left: 20px; padding-right: 20px; margin-bottom: 1%;  margin-top: 20px;background-color: RGBA(150,150,150,0.1);">
            <h1 class="blackBack"><%= projectSet.first.category %></h1>
        

      <div class="row ">

        <% projectSet.each do |project| %>
            <% if project.show or can? :update, project %>

            <a class="projectLinks" href="<%= project_path(project) %>">
                <div class="gridParent" >
				<% if !project.show %>
				  <div class="gridContent redDiagonal">
			  	<% else %>
			  		<div class="gridContent diagonal">
                  <% end %>
					
					
						 <%= image_tag project.mainImg.url(:thumb), alt: "", lazy: true ,:class => "img-responsive" %>
						 <h4 style="margin: .1rem .5rem .1rem"><%= project.title %></h4>
						 <% if project.inProgress %>
							<p style="margin: .1rem .5rem .5rem;  line-height: 1;">In Development</p>
						<% else %>
							<p style="margin: .1rem .5rem .5rem;  line-height: 1;"><%= project.pubDate.strftime("%B %d %Y")%></p>
                 		 <% end %>
					</div>
                 
				
                </div>
            </a>

        <% end %>

      <% end %>
      </div>
	  </div>
          <% end %>
    <% end %>

</div>
<script>
    $("img").lazyload({
        effect : "fadeIn"
		
    });
	
		$("img").load(function(){
	  $(".CenterIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", (((parW - childW) / 2) / parW) * 100 + "%" );
		});
	});
	
	$( window ).resize(function() {
		$(".CenterIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", (((parW - childW) / 2) / parW) * 100 + "%" );
		});
	});
	
	$("img").load(function(){
	  $(".LeftIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", "0px");
		});
	});
	
	$( window ).resize(function() {
		$(".LeftIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", "0px" );
		});
	});
	
	$("img").load(function(){
	  $(".RightIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left",  ((parW - childW) / parW) * 100 + "%");
		});
	});
	
	$( window ).resize(function() {
		$(".RightIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left",  ((parW - childW) / parW) * 100 + "%" );
		});
	});
	
		
</script>

