<div class="row transparent full" style="overflow: hidden; padding-left: 20px; padding-right: 20px">
  <% @courses.each do |courseSet| %>
	<% if !courseSet.empty? %>

        <div class="row transparent" style="padding-left: 20px; padding-right: 20px; margin-bottom: 1%;  margin-top: 20px;background-color: RGBA(150,150,150,0.1);">
            <h1 class="blackBack"><%= courseSet.first.college %></h1>
        

      <div class="row ">

         <% courseSet.each do |course| %>
            <% if course.show or can? :update, course %>

            <a class="projectLinks" href="<%= course_path(course) %>">
                <div class="gridParent" >
				<% if !course.show %>
				  <div class="gridContent redDiagonal">
			  	<% else %>
			  		<div class="gridContent diagonal">
                  <% end %>
					
					
						 <%= image_tag course.mainImg.url(:thumb), alt: "", lazy: true ,:class => "img-responsive" %>
						 <h4 style="margin: .1rem .5rem .1rem"><%= course.title %></h4>
						 <p style="margin: .1rem .5rem .5rem;  line-height: 1;"><%= course.courseID%></p>

					</div>
                 
				
                </div>
            </a>

        <% end %>

      <% end %>
      </div>
	  </div>
          <% end %>
    <% end %>

</div>
<script>
    $("img").lazyload({
        effect : "fadeIn"
    });
	
	$("img").load(function(){
	  $(".CenterIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", (((parW - childW) / 2) / parW) * 100 + "%" );
		});
	});
	
	$( window ).resize(function() {
		$(".CenterIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", (((parW - childW) / 2) / parW) * 100 + "%" );
		});
	});
	
	$("img").load(function(){
	  $(".LeftIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", "0px");
		});
	});
	
	$( window ).resize(function() {
		$(".LeftIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left", "0px" );
		});
	});
	
	$("img").load(function(){
	  $(".RightIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left",  ((parW - childW) / parW) * 100 + "%");
		});
	});
	
	$( window ).resize(function() {
		$(".RightIMG").each(function(){
			var childImg = $(this);
			var childW = childImg.width();
			var parW = childImg.parent().width();
			childImg.css("margin-left",  ((parW - childW) / parW) * 100 + "%" );
		});
	});
	
</script>

